<!DOCTYPE html>
<!--
██╗    ██╗██╗  ██╗ ██████╗  ██████╗ ██████╗ ███████╗██╗███████╗
██║    ██║██║  ██║██╔═══██╗██╔═══██╗██╔══██╗██╔════╝██║██╔════╝
██║ █╗ ██║███████║██║   ██║██║   ██║██████╔╝███████╗██║█████╗
██║███╗██║██╔══██║██║   ██║██║   ██║██╔═══╝ ╚════██║██║██╔══╝
╚███╔███╔╝██║  ██║╚██████╔╝╚██████╔╝██║     ███████║██║███████╗
 ╚══╝╚══╝ ╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝     ╚══════╝╚═╝╚══════╝

INFO:
--------------------------------------------------
@App Name:      {{ @global.title }}
@App Version:   {{ @global.version }}
@Developer:     {{ @global.developer }}
@Framework:     {{ @global.framework }}
--------------------------------------------------
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=yes">
    <meta name="description" content="{{ @global.description }}">
    <meta name="author" content="{{ @global.developer }}">

    <title>{{ @global.short_title }} - ERROR::{{ @ERROR.code }}</title>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ @global.organisation }} {{ @global.title }}">
    <meta name="apple-mobile-web-app-title" content="{{ @global.organisation }} {{ @global.title }}">
    <meta name="theme-color" content="#343a40">
    <meta name="msapplication-navbutton-color" content="#343a40">
    <meta name="msapplication-TileColor" content="#343a40">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <link rel='icon' href="{{ @BASE.'/public/img/favicon.ico' }}" type="image/x-icon" />
	<link rel="shortcut icon" href="{{ @BASE.'/public/img//favicon.ico' }}" type="image/x-icon" />
    <link rel='manifest' href="{{ @BASE.'/manifest.json' }}">

    <!-- JQuery Core -->
    <script src="{{ @BASE.'/vendor/jquery/jquery.js' }}"></script>

    <!-- Bootstrap CSS / JS Core -->
    <link rel="stylesheet" href="{{ @BASE.'/vendor/bootstrap/css/bootstrap.min.css' }}">
    <script src="{{ @BASE.'/vendor/bootstrap/js/bootstrap.min.js' }}"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ @BASE.'/public/css/error.css' }}">

    <!-- Font Awesome Core -->
    <link rel="stylesheet" href="{{ @BASE.'/vendor/fontawesome/css/fontawesome-all.css' }}">

    <include href="tracking.htm" />

</head>

<body class="bg-dark">
    <div class="container">
        <div class="jumbotron">
            <div class="text-center">
                <i class="fa fa-5x fa-frown" style="color:#d9534f;"></i>
            </div>
            <h1 class="text-center">{{ @ERROR.code }} {{ @ERROR.status }}
                <p> </p>
                <p>
                    <small class="text-center"> Oh noes everything broke</small>
                </p>
            </h1>
            <p class="text-center">{{ @ERROR.text }}</p>
            <p class="text-center">
                <a class="btn btn-primary" href="/">
                    <i class="fa fa-home"></i> Take Me Home</a>
            </p>
        </div>
    </div>
</body>

</html>