<!DOCTYPE html>
<!--
██╗    ██╗██╗  ██╗ ██████╗  ██████╗ ██████╗ ███████╗██╗███████╗
██║    ██║██║  ██║██╔═══██╗██╔═══██╗██╔══██╗██╔════╝██║██╔════╝
██║ █╗ ██║███████║██║   ██║██║   ██║██████╔╝███████╗██║█████╗
██║███╗██║██╔══██║██║   ██║██║   ██║██╔═══╝ ╚════██║██║██╔══╝
╚███╔███╔╝██║  ██║╚██████╔╝╚██████╔╝██║     ███████║██║███████╗
 ╚══╝╚══╝ ╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝     ╚══════╝╚═╝╚══════╝

INFO:
--------------------------------------------------
@App Name:      {{ @global.title }}
@App Version:   {{ @global.version }}
@Developer:     {{ @global.developer }}
@Framework:     {{ @global.framework }}
--------------------------------------------------
-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=yes">
        <meta name="description" content="{{ @global.description }}">
        <meta name="author" content="{{ @global.developer }}">

        <title>{{ @global.title }} - {{ @title }}</title>

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="application-name" content="{{ @global.organisation }} {{ @global.title }}">
        <meta name="apple-mobile-web-app-title" content="{{ @global.organisation }} {{ @global.title }}">
        <meta name="theme-color" content="#343a40">
        <meta name="msapplication-navbutton-color" content="#343a40">
        <meta name="msapplication-TileColor" content="#343a40">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <link rel='icon' href="{{ @BASE.'/public/img/favicon.ico' }}" type="image/x-icon" />
    	<link rel="shortcut icon" href="{{ @BASE.'/public/img//favicon.ico' }}" type="image/x-icon" />
        <link rel='manifest' href="{{ @BASE.'/manifest.json' }}">

        <!-- JQuery Core -->
        <script src="{{ @BASE.'/vendor/jquery/jquery.js' }}"></script>

        <!-- Bootstrap CSS / JS Core -->
        <link rel="stylesheet" href="{{ @BASE.'/vendor/bootstrap/css/bootstrap.css' }}">
        <script src="{{ @BASE.'/vendor/bootstrap/js/bootstrap.js' }}"></script>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ @BASE.'/public/css/app.css' }}">

        <!-- Font Awesome Core -->
        <link rel="stylesheet" href="{{ @BASE.'/vendor/fontawesome/css/fontawesome-all.css' }}">

        <!-- TinyMCE Core -->
        <script src="{{ @BASE.'/vendor/tinymce/js/tinymce.min.js' }}"></script>

        <include href="tracking.htm" />

    </head>

    <body class="bg-dark">

        <!-- START Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                 <img src="{{ @BASE.'/public/img/app_logo.png' }}" width="30" height="30"> <b>{{ @global.organisation }}</b> {{ @global.title }}</a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class='m-1 btn <check if="{{ @active=='home' }}"><true>btn-primary</true><false>btn-outline-secondary</false></check>' href="/home">Home</a></li>
                    <li class="nav-item"><a class='m-1 btn <check if="{{ @active=='how' }}"><true>btn-primary</true><false>btn-outline-secondary</false></check>' href="/how">Hoe werkt het?</a></li>
                    <button type="button" class="m-1 btn btn-outline-secondary" data-toggle="modal" data-target="#contact">Contact</button>
                    <li class="nav-item"><a class='m-1 btn <check if="{{ @active=='ranklist' }}"><true>btn-primary</true><false>btn-outline-secondary</false></check>' href="/ranklist">Ranklist</a></li>
                    <!---->
                            <li class="nav-item"><a class='m-1 btn btn-outline-success' href="/app">Naar de App</a></li>
                </ul>
            </div>
        </nav>
        <!-- END Navbar -->

        <div class="container">
            <!-- START Content -->
            <div class="row">
                <div class="col-12">
                    <check if="{{ @app.online=='1' }}">
                        <true>
                            <div class="alert alert-primary" role="alert">
                                <b>Vossenjacht App 2020</b> is Live -> <a href="/app">klik hier om mee te doen.</a>
                            </div>
                        </true>
                        <false>
                            <div class="alert alert-success" role="alert">
                                <b>Vossenjacht App 2020</b> is offline. 
                                <check if="{{ @app.done=='0' }}">
                                    <true>{{ @remaining }}</true>
                                </check>
                            </div>
                        </false>
                    </check>
                    <div class="card ">
                        <h5 class="card-header p-2">{{ @title }}</h5>
                        <div class="card-body p-2">
                            <include href="{{ @view }}" />
                        </div>
                        <div class="card-footer p-2">
                            <include href="application_pub/footer.htm" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Content -->
        </div>
    </body>
</html>

<!-- START Contact Form Modal -->
    <div class="modal fade" id="contact" data-backdrop="static" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		    <div class="modal-content p-1 m-0">
		        <div class="modal-header p-1 m-0">
		            <h5 class="modal-title p-1 m-0"> Contact Formulier </h5>
		            <button class="close" type="button" data-dismiss="modal"><span>×</span></button>
		        </div>
		        <div class="modal-body p-1  m-0">
		            <form role="form" method="POST" enctype="multipart/form-data" action="/mail">
		       	        <div class="form-group p-1 m-0">
		       	            <input type="text" class="form-control" name="naam" placeholder="Naam" required>
		                   </div>
		   	            <div class="form-group p-1 m-0">
		   	                <input type="email" class="form-control" name="email" placeholder="E-mail" required>
		                </div>
		                <div class="form-group p-1 m-0">
		   	                <input type="tel" class="form-control" name="telefoon" placeholder="Telefoonnummer">
		                </div>
                        <div class="form-group p-1 m-0">
		   	                <textarea class="form-control" name="bericht" placeholder="Bericht" rows="5"></textarea>
		                </div>
		                 <input type="hidden" name="mail" value="mail"/>
				        <div class="modal-footer p-1 m-0">
			   	            <input type="submit" value="Verstuur" class="btn btn-primary btn-block" />
						</div>
					    </div>
			        </form>
				</div>
		    </div>
		</div>
<!-- END Contact Form Modal -->
