<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/app/dashboard">
         <img src="{{ @BASE.'/public/img/app_logo.png' }}" width="30" height="30"> <b>{{ @global.organisation }}</b> {{ @global.title }}</a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img  class="rounded-circle" src="{{ @func_gravatar }}" height="30px" width="30px" alt="" /> {{ @SESSION.email }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                    <check if="{{ @SESSION.is_admin == '1' }}" >
                        <true>
                            <a class="dropdown-item" href="/app/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                            <a class="dropdown-item" href="/app/questions"><i class="fas fa-question"></i></i> Wijzig Vragen</a>
                            <div class="dropdown-divider"></div>
                        </true>
                    </check>
                    <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-sign-out-alt"></i> Uitloggen</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
