<!DOCTYPE html>
<!--
██╗    ██╗██╗  ██╗ ██████╗  ██████╗ ██████╗ ███████╗██╗███████╗
██║    ██║██║  ██║██╔═══██╗██╔═══██╗██╔══██╗██╔════╝██║██╔════╝
██║ █╗ ██║███████║██║   ██║██║   ██║██████╔╝███████╗██║█████╗
██║███╗██║██╔══██║██║   ██║██║   ██║██╔═══╝ ╚════██║██║██╔══╝
╚███╔███╔╝██║  ██║╚██████╔╝╚██████╔╝██║     ███████║██║███████╗
 ╚══╝╚══╝ ╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝     ╚══════╝╚═╝╚══════╝

INFO:
--------------------------------------------------
@App Name:      {{ @global.title }}
@App Version:   {{ @global.version }}
@Developer:     {{ @global.developer }}
@Framework:     {{ @global.framework }}
--------------------------------------------------
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=yes">
    <meta name="description" content="{{ @global.description }}">
    <meta name="author" content="{{ @global.developer }}">

    <title>{{ @global.title }} - {{ @title }}</title>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ @global.organisation }} {{ @global.title }}">
    <meta name="apple-mobile-web-app-title" content="{{ @global.organisation }} {{ @global.title }}">
    <meta name="theme-color" content="#343a40">
    <meta name="msapplication-navbutton-color" content="#343a40">
    <meta name="msapplication-TileColor" content="#343a40">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <link rel='icon' href="{{ @BASE.'/public/img/favicon.ico' }}" type="image/x-icon" />
	<link rel="shortcut icon" href="{{ @BASE.'/public/img//favicon.ico' }}" type="image/x-icon" />
    <link rel='manifest' href="{{ @BASE.'/manifest.json' }}">

    <!-- JQuery Core -->
    <script src="{{ @BASE.'/vendor/jquery/jquery.js' }}"></script>

    <!-- Bootstrap CSS / JS Core -->
    <link rel="stylesheet" href="{{ @BASE.'/vendor/bootstrap/css/bootstrap.css' }}">
    <script src="{{ @BASE.'/vendor/bootstrap/js/bootstrap.js' }}"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ @BASE.'/public/css/app.css' }}">

    <!-- Font Awesome Core -->
    <link rel="stylesheet" href="{{ @BASE.'/vendor/fontawesome/css/fontawesome-all.css' }}">

    <!-- TinyMCE Core -->
    <script src="{{ @BASE.'/vendor/tinymce/js/tinymce.min.js' }}"></script>

    <include href="tracking.htm" />

</head>

<body class="bg-dark">

    <!-- START Navbar -->
    <include href="template_navbar.htm" />
    <!-- END Navbar -->

    <!-- START Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card ">
                    <h5 class="card-header p-2">{{ @title }}</h5>
                    <div class="card-body p-2">
                        <include href="{{ @view }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Content -->

    <!-- START Footer -->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="p-0 mb-0 float-left text-light"><b><a href="{{ @global.organisation_site }}">{{ @global.organisation }}</a></b> {{ @global.title }}</div>
        <div class="p-0 mb-0 float-center text-light"></div>
        <div class="p-0 mb-0 float-right text-light">
            <i class="fa fa-code-branch"></i> {{ @global.version }}</div>
    </nav>
    <!-- END Footer -->
</body>

<!-- START Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Weet je het zeker ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Klik op "Uitloggen" om deze sessie te beëindigen.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuleren</button>
                <a class="btn btn-primary" href="/logout">Uitloggen</a>
            </div>
        </div>
    </div>
    <!-- END Logout Modal -->

</html>