<!DOCTYPE html>
<!--
██╗    ██╗██╗  ██╗ ██████╗  ██████╗ ██████╗ ███████╗██╗███████╗
██║    ██║██║  ██║██╔═══██╗██╔═══██╗██╔══██╗██╔════╝██║██╔════╝
██║ █╗ ██║███████║██║   ██║██║   ██║██████╔╝███████╗██║█████╗
██║███╗██║██╔══██║██║   ██║██║   ██║██╔═══╝ ╚════██║██║██╔══╝
╚███╔███╔╝██║  ██║╚██████╔╝╚██████╔╝██║     ███████║██║███████╗
 ╚══╝╚══╝ ╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝     ╚══════╝╚═╝╚══════╝

INFO:
--------------------------------------------------
@App Name:      {{ @global.title }}
@App Version:   {{ @global.version }}
@Developer:     {{ @global.developer }}
@Framework:     {{ @global.framework }}
--------------------------------------------------
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=yes">
    <meta name="description" content="{{ @global.description }}">
    <meta name="author" content="{{ @global.developer }}">

    <title>{{ @global.title }} - {{ @title }}</title>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ @global.organisation }} {{ @global.title }}">
    <meta name="apple-mobile-web-app-title" content="{{ @global.organisation }} {{ @global.title }}">
    <meta name="theme-color" content="#343a40">
    <meta name="msapplication-navbutton-color" content="#343a40">
    <meta name="msapplication-TileColor" content="#343a40">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel='icon' href="{{ @BASE.'/public/img/favicon.ico' }}" type="image/x-icon" />
	<link rel="shortcut icon" href="{{ @BASE.'/public/img//favicon.ico' }}" type="image/x-icon" />
    <link rel='manifest' href="{{ @BASE.'/manifest.json' }}">

    <!-- JQuery Core -->
    <script src="{{ @BASE.'/vendor/jquery/jquery.js' }}"></script>

    <!-- Bootstrap CSS / JS Core -->
    <link rel="stylesheet" href="{{ @BASE.'/vendor/bootstrap/css/bootstrap.min.css' }}">
    <script src="{{ @BASE.'/vendor/bootstrap/js/bootstrap.min.js' }}"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ @BASE.'/public/css/login.css' }}">

    <!-- Font Awesome Core -->
    <link rel="stylesheet" href="{{ @BASE.'/vendor/fontawesome/css/fontawesome-all.css' }}">

    <include href="tracking.htm" />

</head>

<body class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card card-login mx-auto mt-5">
                    <h5 class="card-header">{{ @global.organisation }} - {{ @global.title }}</h5>
                    <div class="card-body">
                        <div class="text-center">
                          <img src="{{ @BASE.'/public/img/app_logo.png' }}" class="img-fluid">
                        </div>
                        <p>Welkom bij de Online {{ @global.title }}! <br>
                        Vul hieronder je e-mail in, om jouw eigen score bij te houden.
                        Veel plezier namens {{ @global.organisation }}.</p>
                        <form role="form" method="POST" enctype="multipart/form-data" action="/authenticate">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="E-mail adres" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Start" class="btn btn-primary btn-block" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>

</html>
