<div class="container">
  <div class="row">
    <div class="col-sm m-2">
        <b> Organisatie:</b> <br>
        De Online {{ @global.title }} wordt georganiseerd door <a href="{{ @global.organisation_site }}" target="_blank">{{ @global.organisation }}</a></b>
    </div>
    <div class="col-sm m-2">
        <img src="{{ @BASE.'/public/img/logo.png' }}" class="rounded mx-auto d-block" height="100" width="100">
    </div>
    <div class="col-sm m-2">
        <b> Contact:</b> <br>
        De Online Vossenjacht op de voeten volgen? Op <a href="https://www.facebook.com/events/193287195149650" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a> zetten wij updates en zijn wij bereikbaar voor enige vragen!
    </div>
  </div>
</div>
