
<p>Jaag op alle vossen, kan jij ze allemaal vinden? Voor ieder kind!</p>
<p>{{ @app.when }}</p>
<b>De Vossenjacht App werkt als volgt:</b>
<ul class="list-unstyled">
  <li>1. Je registreert met een e-mail account.</li>
  <li>2. Maakt het geld over door middel van <a href="{{ @app.donate_link }}" target="_blank">Tikkie</a>, wat aangegeven is in de App.</li>
  <li>3. Geeft een moeilijkheidsgraad aan.</li>
  <li>4. Vindt de vossen op sites en sociale media zoals Facebook en Instagram door middel van hints.</li>
  <li>5. Vult het goede antwoord in, wanneer groen gekleurd, op naar de volgende vraag!</li>
  <li>6. Zie in de Vossenjacht App je snelheid en je rang!</li>
  <li>7. Wie weet ben jij wel de winnaar!!</li>
</ul>

<b>Kosten:</b>
<ul class="list-unstyled">
    <li>Voor NIET leden van Scouting €2,50 p.p.</li>
    <li>Voor leden van Scouting €1,- per lid</li>
    <li>Voor leden van Scouting Woerden GRATIS</li>
</ul>


<p>Georganiseerd door Scouting Woerden.</p>
