<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{ @app.lvl_easy }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{{ @app.lvl_normal }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">{{ @app.lvl_hard }}</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
<!-- Easy -->
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <table class="table table-sm table-striped">
          <thead class="thead-dark">
              <tr>
                  <th>#</th>
                  <th>Nickname</th>
                  <th>Goed</th>
                  <th>Fout</th>
                  <th>Ingevult</th>
              </tr>
          </thead>
          <tbody>
              <repeat group="{{ @ranklist_easy }}" value="{{ @item }}">
                  <tr>
                      <td>{{ @item.rank }}</td>
                      <td>{{ @item.nickname }}</td>
                      <td>{{ @item.correct }}</td>
                      <td>{{ @item.incorrect }}</td>
                      <td>{{ @item.incorrect + @item.correct }}</td>
                  </tr>
              </repeat>
          </tbody>
      </table>
  </div>
<!-- Normal -->
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <table class="table table-sm table-striped">
          <thead class="thead-dark">
              <tr>
                  <th>#</th>
                  <th>Nickname</th>
                  <th>Goed</th>
                  <th>Fout</th>
                  <th>Ingevult</th>
              </tr>
          </thead>
          <tbody>
              <repeat group="{{ @ranklist_normal }}" value="{{ @item }}">
                  <tr>
                      <td>{{ @item.rank }}</td>
                      <td>{{ @item.nickname }}</td>
                      <td>{{ @item.correct }}</td>
                      <td>{{ @item.incorrect }}</td>
                      <td>{{ @item.incorrect + @item.correct }}</td>
                  </tr>
              </repeat>
          </tbody>
      </table>
  </div>
<!-- Hard -->
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <table class="table table-sm table-striped">
          <thead class="thead-dark">
              <tr>
                  <th>#</th>
                  <th>Nickname</th>
                  <th>Goed</th>
                  <th>Fout</th>
                  <th>Ingevult</th>
              </tr>
          </thead>
          <tbody>
              <repeat group="{{ @ranklist_hard }}" value="{{ @item }}">
                  <tr>
                      <td>{{ @item.rank }}</td>
                      <td>{{ @item.nickname }}</td>
                      <td>{{ @item.correct }}</td>
                      <td>{{ @item.incorrect }}</td>
                      <td>{{ @item.incorrect + @item.correct }}</td>
                  </tr>
              </repeat>
          </tbody>
      </table>
  </div>
</div>
