<div class="row">

  <!-- Ranklist-->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-bottom:10px;">
          <div class="card bg-warning">
              <a href="#" data-toggle="collapse" data-target="#collapseranklist" aria-expanded="true" class="text-dark">
                  <header class="card-header p-2">
                      <div class="row">
                          <div class="col text-left"><b><i class="fas fa-trophy"></i> Ranklist</b></div>
                      </div>
                  </header>
              </a>
              <div class="collapse show" id="collapseranklist" style="">
                  <div class="card-body p-2">
                      <repeat group="{{ @ranklist }}" value="{{ @rank }}">

                              <check if="{{ @rank.uid == @SESSION.uid }}">
                                  <table class="table table-sm">
                                  <true>
                                      <tr>
                                          <td>
                                              <b>Speler</b>
                                          </td>
                                          <td>
                                              {{ @rank.nickname }} - #{{ @rank.uid }}
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <b>Plek</b>
                                          </td>
                                          <td>
                                              {{ @rank.rank }} van de {{ @rank.total }}
                                          </td>
                                      </tr>
                                      <tr>
                                          <td colspan="2">
                                              Je bent al <b>{{ @started }}</b> bezig...
                                          </td>
                                      </tr>
                                  </true>
                                  </table>
                              </check>

                      </repeat>
                  </div>
              </div> <!-- End Collapse .// -->
          </div> <!-- End Card .// -->
      </div>

<!-- Progress -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-bottom:10px;">
        <div class="card bg-warning">
            <a href="#" data-toggle="collapse" data-target="#collapseprogress" aria-expanded="true" class="text-dark">
                <header class="card-header p-2">
                    <div class="row">
                        <div class="col text-left"><b><i class="fas fa-percentage"></i> Voortgang</b></div>
                    </div>
                </header>
            </a>
            <div class="collapse show" id="collapseprogress" style="">
                <div class="card-body p-2">
                    <table class="table table-sm">
                        <tr>
                            <td>
                                <b>Niveau</b>
                            </td>
                            <td>
                                <check if="{{ @SESSION.lvl == '1' }}"><true><i class="far fa-star"></i><i class="far fa-star"></i><i class="fas fa-star"></i> ({{ @app.lvl_easy }})</true></check>
                                <check if="{{ @SESSION.lvl == '2' }}"><true><i class="far fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> ({{ @app.lvl_normal }})</true></check>
                                <check if="{{ @SESSION.lvl == '3' }}"><true><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> ({{ @app.lvl_hard }})</true></check>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Antwoorden</b>
                            </td>
                            <td>
                                {{ @progress[0].correct }} <i class="fas fa-thumbs-up"></i> / {{ @progress[0].incorrect }} <i class="fas fa-thumbs-down"></i> ({{ @progress[0].total }})
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ @progress[0].correct_perc }}%">{{ @progress[0].correct }}</div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ @progress[0].incorrect_perc }}%">{{ @progress[0].incorrect }}</div>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div> <!-- End Collapse .// -->
        </div> <!-- End Card .// -->
    </div>

<!-- Donate -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-bottom:10px;">
        <div class="card bg-warning">
            <a href="#" data-toggle="collapse" data-target="#collapsedonate" aria-expanded="true" class="text-dark">
                <header class="card-header p-2">
                    <div class="row">
                        <div class="col text-left"><b><i class="fas fa-donate"></i> Doneer</b></div>
                    </div>
                </header>
            </a>
            <div class="collapse show" id="collapsedonate" style="">
                <div class="card-body p-2">
                    Vond je dit nou leuk, dan kan je een donatie maken aan Scouting Woerden en een keertje bij ons komen kijken of je Scouting leuk vind.
                </div>
                <div class="card-footer p-2">
                    <a class="btn btn-primary" href="{{ @global.organisation_site }}" role="button" target="_blank">{{ @global.organisation }}</a></a>
                    <a class="btn btn-primary" href="{{ @app.donate_link }}" role="button" target="_blank"><i class="fab fa-ideal"></i> Doneer</a>
                </div>
            </div> <!-- End Collapse .// -->
        </div> <!-- End Card .// -->
    </div>
</div>
<div class="row">
<!-- Questions -->
    <repeat group="{{ @questions }}" value="{{ @question }}">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-bottom:10px;">
           <div class="card <check if="{{ @question.answer == @question.u_answer }}">text-white bg-success</check>
                            <check if="{{ @question.u_answer == '' }}">text-dark bg-light</check>
                            <check if="{{ @question.answer != @question.u_answer }}">text-white bg-danger</check>">
                <a href="#" data-toggle="collapse" data-target="#collapse{{ @question.id }}" aria-expanded="true" class="<check if="{{ @question.u_answer == '' }}"><true>text-dark</true><false>text-white</false></check>">
                    <header class="card-header p-2">
                        <div class="row">
                            <div class="col text-left"><b>Vos - {{ @question.id }}</b></div>
                        </div>
                    </header>
                </a>
                <div class="collapse hide" id="collapse{{ @question.id }}" style="">
                    <div class="card-body p-2">
                        <check if="{{ @SESSION.lvl == '1' }}"><true><div>{{ @question.easy }}</div></true></check>
                        <check if="{{ @SESSION.lvl == '2' }}"><true><div>{{ @question.normal }}</div></true></check>
                        <check if="{{ @SESSION.lvl == '3' }}"><true><div>{{ @question.hard }}</div></true></check>
                    </div>
                    <div class="card-footer p-2">
                        <check if="{{ @question.answer == @question.u_answer }}">
                            <true>Het antwoord <b>{{ @question.u_answer }}</b> is goed.</true>
                            <false>
                                <form role="form" method="POST" enctype="multipart/form-data" action="/app/answer/update">
                                    <div class="input-group p-0 m-0">
                                        <input type="text" name="answer" class="form-control" placeholder="Antwoord" value="{{ @question.u_answer }}" onkeyup="this.value = this.value.toLowerCase();" required>
                                        <div class="input-group-append">
                                            <check if="{{ @question.u_answer == '' }}">
                                                <true>
                                                    <!-- Answer is empty -->
                                                    <check if="{{ @question.u_answer != @question.answer }}">
                                                        <true>
                                                            <input type="hidden" name="create" value="create" />
                                                            <input type="hidden" name="uid" value="{{ @SESSION.uid }}" />
                                                            <input type="hidden" name="qid" value="{{ @question.id }}" />
                                                        </true>
                                                        <false>
                                                            <input type="hidden" name="update" value="update" />
                                                            <input type="hidden" name="id" value="{{ @question.u_answerid }}" />
                                                        </false>
                                                    </check>

                                                </true>
                                                <false>
                                                    <!-- Answer is wrong -->
                                                    <input type="hidden" name="update" value="update" />
                                                    <input type="hidden" name="id" value="{{ @question.u_answerid }}" />
                                                </false>
                                            </check>
                                            <button class="btn btn-primary" type="submit" >Controleer</button>
                                        </div>
                                    </div>
                                </form>
                            </false>
                        </check>
                    </div>
                </div> <!-- End Collapse .// -->
            </div> <!-- End Card .// -->
        </div>
    </repeat>
</div>
