<div class="row">
    <repeat group="{{ @questions }}" value="{{ @question }}">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-bottom:10px;">
            <div class="card">
                <a href="#" data-toggle="collapse" data-target="#collapse{{ @question.id }}"class="text-dark">
                    <header class="card-header p-2">
                        <div class="row">
                            <div class="col text-left"><b>Vos - {{ @question.id }}</b> ({{ @question.answer }})</div>
                        </div>
                    </header>
                </a>
                <div class="collapse hide" id="collapse{{ @question.id }}" style="">
                    <div class="card-body p-2">
                        <form role="form" method="POST" enctype="multipart/form-data" action="/app/questions/update">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span class="badge badge-secondary">1</span></div>
                            </div>
                            <textarea class="form-control" name="easy" placeholder="Antwoord" rows="2">{{ @question.easy }}</textarea>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span class="badge badge-secondary">2</span></div>
                            </div>
                            <textarea class="form-control" name="normal" placeholder="Antwoord" rows="2">{{ @question.normal }}</textarea>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span class="badge badge-secondary">3</span></div>
                            </div>
                            <textarea class="form-control" name="hard" placeholder="Antwoord" rows="2">{{ @question.hard }}</textarea>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-check" aria-hidden="true"></i></div>
                            </div>
                            <input type="text" name="answer" class="form-control" placeholder="Antwoord" value="{{ @question.answer }}" onkeyup="this.value = this.value.toLowerCase();">
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <div class="form-group p-0">
                            <input type="hidden" name="update" value="update" />
                            <input type="hidden" name="id" value="{{ @question.id }}" />
                            <input type="submit" value="Vraag aanpassen" class="btn btn-primary btn-block" />
                        </div>
                        </form> <!-- End Form .// -->
                    </div>
                </div> <!-- End Collapse .// -->
            </div> <!-- End Card .// -->
        </div>
    </repeat>
</div>
